<!DOCTYPE html>
<html lang="en">
  <head>
    <title>All links</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <h1>Links</h1>
    <a href="/add">Add Links</a>
    <% for(let i=0; i < links.length; i++){ %>
    <div id="<%= links[i]._id%>">
      <form  method="POST" action="/?_method=DELETE">
        <h2><%= links[i].title%></h2>
        <div>
          <%= links[i].description%>
        </div>
        <div>
          <%= links[i].url%>
        </div>
        <input name="id" value="<%= links[i]._id%>" hidden>
        <button type="submit">Delete</button>
      </form>
    </div>
    <% } %>

  </body>
</html>
