<!DOCTYPE html>
<html lang="en">
  <head>
    <title>All links</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  </head>
  <body>

    <div class="container">
      <h1>Links</h1>
      <a class="text-decoration-none" href="/add">Add Links</a>
      <% for(let i=0; i < links.length; i++){ %>
      <div class="card p-3 mb-3" id="<%= links[i]._id%>">
        <form class="d-flex justify-content-between align-items-center"  method="POST" action="/?_method=DELETE">
          <div class="d-flex flex-column">
            <h2><a class="text-decoration-none" href="<%= links[i]._id%>" target="_blank"><%= links[i].title%></a></h2>
            <div class="fw-semibold">
              <%= links[i].description%>
            </div>
            <div>
              <%= links[i].url%>
            </div>
            <div class="text-info">
              <i class="bi-bar-chart" role="img" aria-label="GitHub"></i>
              clicks: <%= links[i].clicks%>
            </div>
          </div>
          <input name="id" value="<%= links[i]._id%>" hidden>
          <div class="d-flex flex-column">
            <a class="btn btn-info mb-1" href="/edit/<%= links[i]._id %>">Edit</a>
            <button class="btn btn-danger" type="submit">Delete</button>
          </div>
        </form>
      </div>
      <% } %>

    </div>
  </body>
</html>
